*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}




.cover{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    width: 40%;
    background-color: rgb(173, 214, 240);
    padding: 10px;
}


.header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

input[type="text"] {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 300px;
    margin-bottom: 10px;
  }
  
  input[type="text"]::placeholder {
    color: #aaa;
  }
  
